@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@444&family=Lekton:wght@700&family=Prosto+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

 .container{
    height: 1000px;
    background-image: url("https://raw.githubusercontent.com/Donnemoilesgatos/Public/refs/heads/main/IMG/Frutiger.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .container2{
    height: 1000px;
    background-color: red;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.Titre{
    font-family:"Prosto One";
    font-size: 500%;
    color: azure;
}
.corps{
    font-family:"Funnel Display";
    color: azure;
    font-size: 120%;
    transform: translate(0%,-15px);
}

.bouton {
    height: 80%;
    position:fixed;
    bottom: -10px;
    cursor: url(https://www.rw-designer.com/cursor-view/23165.png), pointer;
    transform-origin: bottom;
    animation: vent 5s ease-in-out 0s infinite alternate-reverse ; 
}

@keyframes vent{
   from{
      transform: rotate(-5deg);
   }
   to{
      transform: rotate(5deg);
   }
}
.card {
    width: 400px;
    height: 400px;
    border-radius: 8px; 
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
